<h1 class="text-center mb-3">Boxes</h1>

<div class="row justify-content-center" id="boxes">
  <% @boxes.each do |box| %>
    <%= render "box", box: box %>
  <% end %>
</div>

<br>

<%= link_to 'New Box', new_box_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary'} %>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>