<h1>Boxes</h1>

<div class="row">
  <% @boxes.each do |box| %>
    <div class="col-12 col-sm-6 col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= box.name %></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <%= link_to "View", box, class: "btn btn-primary bt-sm" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Box', new_box_path, class: "btn btn-primary" %>
