<h3 class="text-center mb-3"><%= @box.name %></h3>
<div class="row justify-content-center" id="show-box-<%= @box.id %>">
  <% @items.each do |item| %>
    <%= render "boxes/items/item", item: item, box: @box %>
  <% end %>
</div>
<%= link_to 'Add item', new_box_item_path(@box),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary'}  %>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>