<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Move to another box</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <%= form_tag box_item_path(@box, @item), method: :patch do %>
      <div class="form-group">
        <%= label_tag :to_box, "#{@item.description} to box" %>
        <%= select_tag :to_box, options_for_select(@options), class: "form-control" %>
      </div>
      <div class="form-group mt-3 d-flex justify-content-end">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= submit_tag "Move to box", method: :patch, class: "btn btn-primary ml-2" %>
      </div>
    <% end %>
  </div>
</div>