<h1>Members</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <%= "<th></th>".html_safe if current_user.account&.id == current_tenant.id %>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.user.email %></td>
        <% if current_user.account&.id == current_tenant.id %>
          <td><%= link_to 'Delete from this account', member, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add a member", new_member_path, class: "btn btn-primary" %>