<h3 class="text-center mb-3">Choose an account</h3>

<table class="table table-bordered">
  <tbody>
    <% @accounts.each do |account| %>
        <tr>
          <td><%= link_to "#{account.name} (#{account.plan} plan)", select_account_path(account), method: :patch %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>
