<h3 class="mb-3">Choose an account</h3>

<table class="table table-bordered">
  <tbody>
    <% @accounts.each do |account| %>
        <tr>
          <td><%= link_to account.name, "#{change_subdomain(@url, @subdomain, account.subdomain)}/members" %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>
